<h1>Pets!</h1>

<%= link_to "New", new_pet_path %>

</br></br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Image</th>
      <th>View Photos</th>
      <th>Download File</th>
      <th>Delete Photos</th>
    </tr>
  </thead>
  <tbody>
    <%- @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.breed %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
